body {
	margin: 0;
	padding: 0;
}
.bloc0{
	width: 100vw;
	height: 100vh;
	
}
.bloc {padding: 10px;
	  box-shadow: 
    0px 36px 0px -30px #fff,
    -36px 0px 0px -30px #fff,
    0px -36px 0px -30px #fff,
    36px 0px 0px -30px #fff,
    0 0 0 2px #000;
	width: 1000px;
	float: right;
	margin-top:25vh;
	text-align: right;
	margin-right:5vw;
	color:#1e272e;
	
}
.bloc2 {
	
	background:url('Images/le.png')	no-repeat center center;
	background-size:100%;
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	font-size: 500%;

}